img{
    width:24%;
    height:auto;
}

img:hover{
    outline: 2px solid gray;
}

.photo-vram {
    float: left; 
    padding:18px;
}

.photo-vram:hover{
  
    outline-offset: -10px;
}

html,body{
    height:100%;
}

body{
    background-image: url(assets/images/regal.jpg);
    display:flex;
    flex-direction:column;    
}

.giant{
    width:960px;
    margin:auto;
    padding-top:30px;
    flex:1 0 auto;
}

.leftside {
    float:left; 
    width:250px; 
    height:186px; 
    border-style:solid; 
    margin-left:25px;
    margin-top:50px; 
    background-size: 100% 100%;
    border-color:#dddddd;
    color: #ffffff;
    text-align: bottom;
}

.leftside:hover{
    outline:2px solid #4aaaa5;
}

.rightside {
    float:right; 
    width:250px; 
    height:186px; 
    border-style:solid; 
    margin-top:50px;
    margin-right:25px;
    background-size: 100% 100%;
    border-color:#dddddd;
    color: #ffffff;
}

.rightside:hover{
    outline:2px solid #4aaaa5;
}

.form{
    width: 600px;
    border:1px solid #dddddd;
    background-color:#ffffff;
    padding-left: 25px;
    padding-right: 25px;
    float: left;
}

.about-me{
    border:1px solid #dddddd; 
    width:600px;
    flex:1 0 auto;
    margin:auto;
    float:left;
    text-align: top;
    padding-left: 25px;
    padding-right:25px;
}

.container{
    border:1px solid #dddddd;
    background-color:#ffffff;
    overflow:auto;
    width:600px;
    padding:25px; 
    float: left;   
}

.main-header {
    background-color:#ffffff;
    width:960px;
    margin:auto;
}

.name{
    float:left; 
    border:2px solid #4aaaa5; 
    background-color:#4aaaa5; 
    padding-left:30px;
}

.links{
    float:right;
    
}

.connection-box{
    width:270px;
    float:right;
    background-color:#ffffff;
    color:#cccccc; 
    border:1px solid #cccccc; 
    text-align:center;
    padding-bottom:15px;
    
}

h1{
    background-color:#4aaaa5; 
    color:#ffffff; 
    width:260px;
    height:100%;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p, a {
    font-family:Arial, Helvetica, sans-serif;
    color:#777777;
}

li{
    color:#777777;
}

.footer{
    background-color:#666666;
    color:#ffffff;
    text-align:center;
    bottom:0;
    width:100%;
    padding:1rem;
    margin: auto;
}

nav{
    position:relative;
    top: 30px;
    right: 15px;
}

a:hover{
    color: #4aaaa5;
}

@media screen and (max-width:980px){
   
    .photo-vram{
        width:85%;
        margin: auto 10px;
    }
    .rightside, .leftside {
        width:85%;
        float: left;
        margin: 15px 25px;
    }

    .main-header{
        width: 74%;
    }
    
    .giant{
        width:74%;
    }

    .about-me, .container, .form {
        width:50%;
        margin:auto;
        float:left;
    }

   

}

@media screen and (max-width: 768px){

    .photo-vram{
        width:50%;
        margin: auto 25px;
    }

    .leftside, .rightside {
        width:40%;
        float: left;
        /* margin: 15px 45px; */
    }

  
    .main-header{
        width: 90%;
    }
    
    .giant{
        width:90%;
      margin:auto;
    }

    .about-me, .container, .form {
        width:90%;
     
    }

   
    .connection-box{
        
        width:100%;
        margin-top: 30px;
    }
}

@media screen and (max-width:640px){

        .photo-vram{
            width:90%;
            margin: auto 25px;
        }

        .leftside, .rightside {
            width:100%;
            float: left;
            margin: 15px auto;       
        }

  
        .name{
            width: 100%;
            text-align: center;
            margin:auto;
            padding:auto;
            left:30px;
        }
    
        .links{
            background-color: #ffffff;
            padding-top: 15px;
            padding-bottom:15px;
            width:110%;
            margin-top:0;
            text-align: center;
            line-height:10%;
            display: inline;
            vertical-align: middle;
            position:relative;
            left:40px;
        }

        .main-header{
            background-color:none;
            width:100%;
            position:relative;
        }

        h1{
            position:relative;
            left: 137px;
        }
 
         nav{
            background-color: #ffffff;
            padding-top: 15px;
            padding-bottom:15px;
            width:100%;
            margin-bottom:15px;
            margin-top:0;
            text-align: center;
            height:10%;
            position:relative;
            top: 10px;
            margin-left: auto;
        } 
   
        .giant{
            width:90%;
            margin:auto;
        }

        .about-me, .container, .form {
            width:90%;
        }

   
        .connection-box{  
            width:100%;
            margin-top: 30px;
        }

}